# Web Scraping using Python

## Scraping Static Pages

### Reference: https://towardsdatascience.com/image-scraping-with-python-a96feda8af2d

In [2]:
import requests

wikipage = "https://en.wikipedia.org/wiki/List_of_sovereign_states_and_dependent_territories_by_continent_(data_file)"
results = requests.get(wikipage)
results.content;

In [3]:
from bs4 import BeautifulSoup
soup = BeautifulSoup(results.content,'html.parser')

#print(soup.prettify)
soup.title;
soup.script;
soup.title.string;
soup.p;
soup.get_text();

#find object with class wikitable sortable
table = soup.find('table',{'class':'wikitable sortable'})

The HTML \\\<tr> tag refer to a row in an HTML table. Each \<tr> tag can contain \<th> tags that defines header and \<td> tag that defines standard cells.

In [4]:
#loop through all the rows and pull text 

#print(table.find_all('tr')[1:])
#print(table.find_all('tr')[4].find_all('td')[4].get_text())\
new_table = []

for row in table.find_all('tr')[1:]:
    column_marker=0
    columns = row.find_all('td')
    
    new_table.append([column.get_text() for column in columns])

In [12]:
import pandas as pd

df = pd.DataFrame(new_table,columns=['ContinentCode','Alpha2','Alpha3','PhoneCode','Name'])
df['Name']=df['Name'].str.replace('\n','');
df

,ContinentCode,Alpha2,Alpha3,PhoneCode,Name
0,AS,AF,AFG,004,"Afghanistan, Islamic Republic of"
1,EU,AL,ALB,008,"Albania, Republic of"
2,AN,AQ,ATA,010,Antarctica (the territory South of 60 deg S)
3,AF,DZ,DZA,012,"Algeria, People's Democratic Republic of"
4,OC,AS,ASM,016,American Samoa
...,...,...,...,...,...
257,AS,YE,YEM,887,Yemen
258,AF,ZM,ZMB,894,"Zambia, Republic of"
259,AS,XD,null,null,United Nations Neutral Zone
260,AS,XS,null,null,Spratly Islands
261,OC,XX,null,null,Disputed Territory